<form action = "/bitcoins">
  <label for =""> How many bitcoin do you have?</label>
  <input type = "text" name="amount" value="<%= @bitcoin %>">
  <button>Submit</button>
</form>

<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>